[Unit]
Description=BetPlay Bot Python Server
After=network.target

[Service]
# Correr como root para evitar lios de permisos con Chrome/Drivers en headless     
User=root
WorkingDirectory=/var/www/html/server
# Environment="DISPLAY=:99" - Conflictivo con xvfb-run auto-servernum

# Usamos wrapper script para manejar entorno y locks
ExecStart=/bin/bash /var/www/html/server/start_server.sh

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
